{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <h1>ABOUT US</h1>
    <p>
    Welcome to Saho Ecom Online Store, your trusted destination for quality products at unbeatable prices.  
    We believe shopping should be simple, secure, and enjoyable.  
    Our mission is to connect people with products that make everyday life better.  
    Founded with a vision to revolutionize online shopping, Saho Ecom blends technology, creativity, and customer care.  
    From humble beginnings, we have grown into a platform serving thousands of happy customers.  
    Every order we process is more than a transaction—it’s a promise of trust.  
    We are committed to delivering excellence, whether it’s fashion, electronics, or home essentials.  
    Our journey began with a small team passionate about e-commerce innovation.  
    Through dedication and hard work, we overcame challenges and built a brand that stands for reliability.  
    At Saho Ecom, we don’t just sell products—we create experiences. </p>
  <div class="top-nav">
    <a href="{% url 'home' %}" class="btn-home">Home</a>
</div> 
</body>
</html>